.App {
    --primary-color: #3498db;
    --background-color: #02040d;
    --grid-size: 10;
    --cell-size: 7vmin;
    --cell-gap: 0.5vmin;

    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.Board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: var(--primary-color);
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.Tile {
    border-radius: 0.5vmin;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    color: #fff;
    font-weight: bold;
}

.Tile:hover {
    opacity: 0.8;
}

.Tile.TileClickable {
    cursor: pointer;
    pointer-events: all;
}

.Tile.TileClickable .TileContent {
    display: none;
}

.Board.Cheater .Tile.TileClickable .TileContent {
    display: inline-block;
}

.TileMiss {
    background-color: #2ecc71;
}

.TileHit {
    background-color: #e74c3c;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
